* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #1F2430;
  color: #AAA;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #CCC;
}
nav {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 100px);
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  width: 100px;
}

main {
  padding-left: 10%;
  padding-right: 10%;
}

.assetItem, .companyHeadline, .projectHeadline, .assetHeadline {
  display: block;
  padding: 2px;
}

input {
  color: #AAA;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #AAA;
  border-radius: 1px;
  width: 150px;
}
input:focus {
  color: #AAA;
}
button {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #AAA;
  background-color: #1F2430;
  border: 1px solid #AAA;
  width: 150px;
}

.login {
  margin-top: 20vh;
  margin-left: 10%;
  margin-right: 10%;
  align-content: center;
  width: 250px;
  padding: 50px;
  border: 1px solid #AAA;
  border-radius: 5px;
}
.companyHeadline {
  padding-top: 5%;
}

.projectHeadline {
  width: 95%;
  padding-left: 5%;
}
.forgot {
  padding-top: 10px;
  font-size: 50%;
  color: #888;
}
.assetHeadline {
  width: 90%;
  padding-left: 10%;
}